@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SF PRO";
  src: local("SFPRO"),
    url("./fonts/SFPRO/SFPRODISPLAYREGULAR.OTF") format("truetype");
  font-weight: regular;
}
